// Links
.link {
    display: inline-block;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        height: 4px;
        width: 80%;
        background-color: var(--color-light-purple);
    }

    &:hover, &:focus {
        transition: .1s background-color ease;
        outline: 0;

        &::after {
            transition: .15s width ease, .1s background-color ease;
            width: 100%;
            background-color: var(--color-alias-interaction);
        }
    }
}