/* Tag overrides */
body {
    font-family: var(--font-family);
    font-weight: 600;
    margin:0;
    padding:0;
    line-height: 1.5;
    color: var(--color-alias-font);
  }
  
  button {
    font-family: "Futura","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    appearance: none;
    height: 3.2rem;
    border-radius: 5px;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    font-size: 24px;
    background-color: #F1F2F4;
    border: none;
    color: var(--color-alias-font);
    cursor: pointer;
  }
  
  button:hover, button:focus {
    background-color: var(--color-alias-interaction);
    color: var(--color-white);
  }
  
  a {
    text-decoration: none;
    color: var(--color-alias-font);
  }
  
  textarea {
    font-family: var(--font-family);
  }

// Links
.link {
    display: inline-block;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        height: 4px;
        width: 80%;
        background-color: var(--color-light-purple);
    }

    &:hover, &:focus {
        transition: .1s background-color ease;
        outline: 0;

        &::after {
            transition: .15s width ease, .1s background-color ease;
            width: 100%;
            background-color: var(--color-alias-interaction);
        }
    }
}