@import '~/assets/variables.scss';
@import '~/assets/mixins.scss';

:root {
    /* Font */
    --font-family: "Muli","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --header-words-font-size: 1.5rem;
    
    /* Colors */
    --color-white: #fff;
    --color-light-purple: #CECAD3;
    --color-medium-purple: #9875c3;
    --color-light-blue-grey: #F1F2F4;
    --color-blue-grey: #575757;

    /* Color Aliases */
    --color-alias-font: var(--color-blue-grey);
    --color-alias-interaction: var(--color-medium-purple);

    /* Layout sizes */
    --sidebar-size: 250px;
    --sidebar-padding: 50px;
    --main-content-padding: #{$main-content-padding};
    --main-content-max-width: #{($project-grid-gap * 2) + ($project-width * 3)};

    /* Spacing */
    --h2-margin: 1.2rem;

    /* Overrides */
    @include mobileBreakpoint {
        --sidebar-padding: 1.5rem;
        --header-words-font-size: 1.4rem;
    }
    
    @include midBreakpoint {
        --sidebar-padding: 1.5rem;
        --main-content-padding: 2rem;
        --sidebar-size: 200px;
    }
}


.color-white { color: var(--color-white); }

/* Flexbox */
.flex { display: flex; }
.justify-content-flex-end { justify-content: flex-end; }

/* Spacing */
.h2-margin-top {
    margin-top: var(--h2-margin);
}

// Media Queries
.hidden-on-mobile {
    @include mobileBreakpoint {
        display: none;
    }
}